@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* side-nav */
   .container {
       display: flex;
       padding-top: 20px;
   }

   .sidebar {
       width: 260px;
       background-color: white;
       padding: 20px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       height: 400px;
   }

   .sidebar-header h1 {
       font-size: 20px;
       font-weight: bold;
       display: flex;
       align-items: center;
   }

   .icons {
       margin-right: 10px;
   }

   .sidebar-nav .nav-item {
       display: flex;
       align-items: center;
       padding: 10px;
       color: #4a4a4a;
       text-decoration: none;
       margin-top: 8px;
   }

   .nav-item:hover {
       background-color: #f0f0f0;
   }