<div class="proposal-details-card">
    <div class="container">
        <div class="row-title">
            <h2></h2>
            <h2>Qualification</h2>
            <h2>Proposal Dur.</h2>
            <h2>Freelancer Amt</h2>
            <h2>Details</h2>
        </div>
    </div>
    <div class="card">
        <div class="profile">
                <div class="profiles">
                    <img src="" alt="Profile Picture" class="profile-pic" width="100" height="100">
                    <div class="info">
                        <h3>Nishan Pradhan</h3>
                        <p>Application Development | Flutter</p>
                    </div>

                </div>
                <div class="actions">
                    <button class="btn btn-success">Hire</button>
                </div>

            </div>
        </div>
        <div class="qualification">

        </div>
        <div class="proj-due">

        </div>
        <div class="amt">

        </div>
        <div class="details">

        </div>
    </div>
</div>
<style>
    .row-title{
        display: flex;
        gap: 80px;
        align-items: center;
        justify-content: center;
    }

    .card,.profile{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .profiles{

        display: flex;
        gap: 20px;
    }
</style>